# MySQL Hosting Configuration
# Hostname: srv2262.hstgr.io or IP: 153.92.15.156
MYSQL_HOST=srv2262.hstgr.io
MYSQL_USER=u645087930_sa
MYSQL_PASSWORD=Pln4uapp!
MYSQL_DATABASE=u645087930_pln_profile
MYSQL_PORT=3306
PORT=3001
CORS_ORIGIN=*
